:root {
  /* Color1 */
  --background-color-primary: #f0f6e1;
  --background-color-accent: #6fb98f;
  --color-primary: #b6d7a8;
  --color-secondary: #8a9a5b;
  --color-text-primary: #222222;

  /* Color2 */
  /* --background-color-primary: #fffbdd;
  --background-color-accent: #ffe066;
  --color-primary: #ffa600;
  --color-secondary: #ffb366;
  --color-text-primary: #222222; */

  /* Color3 */
  /* --background-color-primary: #f5c6cb;
  --background-color-accent: #ee6c81;
  --color-primary: #d9534f;
  --color-secondary: #d66965;
  --color-text-primary: #ffffff; */

  /* Font */
  --default-font-family: 'Noto Sans KR', sans-serif;
  --default-font-size: 16px;
}

body {
  display: grid;
  grid-template-rows: 70px 1fr 30px;
  grid-area:
    "header"
    "main"
    "footer";
  margin: 0px;

  font-family: var(--default-font-family);
  font-size: var(--default-font-size);
  background-color: var(--background-color-primary);
  color: var(--color-text-primary)
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  height: 60px;

  font-size: 1.3rem;
  font-weight: 500;
  background-color: var(--background-color-accent);
}

.header__navbar__logo {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 1.8rem;
}

header span {
  padding: 4px;
}

.header__navbar__logo__icon {
  color: var(--color-secondary);
}

.header__navbar__menu {
  width: 28vw;
  padding-left: 20vw;
}

.header__navbar__menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

header li {
  list-style: none;
  padding: 0px;
}

.link-button {
  padding: 8px 16px;
}

.link-button:hover {
  border-radius: 10%;
  background-color: var(--color-primary);
  color: var(--color-text-primary);
}

footer {
  /* 페이지 맨 아래 박혀있게 컨텐츠가 길어져도 맨아래에 */
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: right;
  right: 16px;
}

main {
  padding: 16px;
}